@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins&display=swap');

:root{
    --header-height: 3.5rem;
    /* color */
    --title-color: hsl(0,0%,95%);
    --text-color : hsl(0, 0%, 70%);
    --text-color-light :hsl(0, 0%, 60%);
    --body-color : hsl(0, 0%, 0%);
    --container-color : hsl(0, 0%, 8%);


    /* font and typography*/

    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* font weight*/

    --font-regular : 400;
    --font-meduim : 500;
    --font-semi-bold : 600;

    /* z-index*/
    --z-tooltip : 10;
    --z-fixed : 100;

   
}
 /* reponsive for typography*/
 @medie screen and (min-width: 1152){
    :root{
        --h1-font-size: 5.5rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .8.173rem;
    }
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
}
 
body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
body{
    background-color: var(--body-color);
}
button,
input{
    outline: none;
    border: none;
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.section__title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}
.main{
    overflow: hidden;
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: var(--z-fixed);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--second-font);
}
.nav__close,
.nav__toggle{
    color: var(--title-color);
    font-size: 1.5rem;
    display: flex;
    cursor: pointer;
}

/* navigation for mobile device */
@media screen and (max-width: 1024px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-block: 4rem;
        background-color: gray;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: top .4s;
    }
}
.nav__list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}
.nav__link{
    color: var(--title-color);
    font-weight: var(--font-meduim);
    font-family: var(--second-font);
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.show-menu{
    top: 0;
}